.main {
    margin: 0;
}

.auth {
    position: absolute;
    width: 332px;
    margin: -62px auto 0;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.auth__title {
    display: block;
    margin: 0 0 0 22px;

    font-size: 0.75em;
    line-height: 2;
}

.form {
    padding: 39px 38px;
    background: #fbfbfa;
    background: -moz-linear-gradient(top, #fbfbfa 0%, #f0eeed 100%);
    background: -webkit-linear-gradient(top, #fbfbfa 0%, #f0eeed 100%);
    background: linear-gradient(to bottom, #fbfbfa 0%, #f0eeed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfa', endColorstr='#f0eeed', GradientType=0);
    box-shadow: 0 11px 27px 0 rgba(159, 159, 159, 0.75), inset 0 6px 6px 0 rgba(255, 255, 255, 0.004);
    border: 1px solid #bcbcbc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.form__group {
    margin-bottom: 24px;
}

.form__group.custom {
    margin-bottom: 14px;
}

.form__group.custom2 {
    margin-bottom: 20px;
}

.form__input-addon {
    position: absolute;
    width: 54px;
    height: 41px;
    left: 0;
    top: 0;
}

.form__input-addon:after {
    position: absolute;
    content: ' ';
    display: block;
    background: url('../img/spritesheet.png') no-repeat -5px -5px;
    width: 11px;
    height: 40px;
    right: 0;
}

.form__input-addon .icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.form__input {
    padding: 13px 8px 13px 70px;
    font-size: 0.875em;
}

.form__btn.primary {
    padding-left: 52px;
    padding-right: 52px;
}

/*checkbox*/
.form__checkbox {
    position: relative;
    padding-left: 11px;

    font-size: 0.875em;
    line-height: 1;
}

.form__checkbox span {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 1px;
    left: 0;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #fbfbfa 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #fbfbfa 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #fbfbfa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fbfbfa', GradientType=0);
    box-shadow: 0 1px 0 0 rgba(167, 166, 166, 0.15), inset 0 1px 0 0 rgba(114, 112, 112, 0.33);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    cursor: pointer;
}

.form__checkbox span:after {
    position: absolute;
    content: '';
    width: 12px;
    height: 5px;
    top: 5px;
    left: 3px;
    background: transparent;
    border: 2px solid #55C3A4;
    border-top: none;
    border-right: none;
    box-shadow: 0 1px 0 0 rgba(24, 151, 112, 0.8);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);

    opacity: 0;
}

.form__checkbox input[type=checkbox] {
    visibility: hidden;
}

.form__checkbox input[type=checkbox]:checked + span:after {
    opacity: 1;
}
