.section__body {
    padding-top: 32px; /*для перфектпикселя подгоняем верхний паддинг*/
}

.form__code {
    position: relative;
    height: 79px;
    background: #FFFFFF;
    background: -moz-linear-gradient(top, rgba(251, 249, 249, 0) 0%, rgba(233, 231, 231, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(251, 249, 249, 0) 0%, rgba(233, 231, 231, 1) 100%);
    background: linear-gradient(to bottom, rgba(251, 249, 249, 0) 0%, rgba(233, 231, 231, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00fbf9f9', endColorstr='#e9e7e7', GradientType=0);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35);
    border: 1px solid #D6D5D3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.form__code-img {
    position: absolute;
    display: block;
    max-width: 100%;
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.form__code-response {
    position: relative;
    height: 79px;
}

.form__input.small {
    position: relative;
    top: 50%;
    margin-top: -16px;
    transform: none;
}

.form__footer {
    padding-top: 17px;
}

/*Адаптив*/
/*мобильные*/
@media screen and (max-width: 767px) {
    .disable-float .form__col {
        float: none;
        padding-right: 0;
        width: auto;
        margin-bottom: 15px;
    }

    .disable-float .form__col:last-child {
        padding-left: 0;
    }

    .disable-float .disable-margin {
        margin-bottom: 0;
    }
}

/*планшеты*/
@media screen and (min-width: 768px) {
    .feedback {
        padding: 0 81px;
    }
}