.section__body {
    padding-top: 32px;
}

.feedback {
    padding: 0 81px;
}

.form {

}

.form__group {
    margin-bottom: 15px;
}

.form__col {
    float: left;
    width: 50%;
    padding-right: 9.5px;
}

.form__col:last-child {
    padding-right: 0;
    padding-left: 9.5px;
}

.form__label {
    display: block;
    line-height: 1;
    margin-bottom: 8px;
}

.form__input {
    display: block;
    width: 100%;
    height: 41px;
    padding: 13px 8px;
    background-image: -moz-linear-gradient(90deg, rgb(233, 231, 231) 0%, rgba(251, 249, 249, 0) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(233, 231, 231) 0%, rgba(251, 249, 249, 0) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(233, 231, 231) 0%, rgba(251, 249, 249, 0) 100%);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35), inset 0 2px 2px 0 rgba(114, 112, 112, 0.1);
    border: 1px solid #d6d5d3;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 0.875em;
}

textarea.form__input {
    height: 183px;
    background-image: -moz-linear-gradient(90deg, rgb(233, 231, 231) 0%, rgba(251, 249, 249, 0) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(233, 231, 231) 0%, rgba(251, 249, 249, 0) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(233, 231, 231) 0%, rgba(251, 249, 249, 0) 100%);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35), inset 0 2px 2px 0 rgba(114, 112, 112, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; /*Щикотливый момент, радиус больше чем у инпутов*/

    resize: none;
}

.form__input::-moz-placeholder {
    color: #c7c6c6;
    font-size: 0.875em;
}

.form__input::-webkit-input-placeholder {
    color: #c7c6c6;
    font-size: 0.875em;
}

.form__code {
    position: relative;
    height: 79px;
    background-image: -moz-linear-gradient(90deg, rgb(233, 231, 231) 0%, rgba(251, 249, 249, 0) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(233, 231, 231) 0%, rgba(251, 249, 249, 0) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(233, 231, 231) 0%, rgba(251, 249, 249, 0) 100%);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
    border: 1px solid #D6D5D3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.form__code-img {
    position: absolute;
    display: block;
    max-width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.form__code-response {
    height: 79px;
    position: relative;
}

.form__input.small {
    height: 32px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.form__footer {
    padding-top: 17px;
    text-align: center;
}

.form__btn {
    height: 39px;
    padding: 11px 22px;
    background-image: -moz-linear-gradient(90deg, rgb(233, 230, 228) 0%, rgb(251, 249, 249) 94%, rgb(255, 255, 255) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(233, 230, 228) 0%, rgb(251, 249, 249) 94%, rgb(255, 255, 255) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(233, 230, 228) 0%, rgb(251, 249, 249) 94%, rgb(255, 255, 255) 100%);
    box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.07), inset 0 -2px 3px 0 rgba(41, 41, 41, 0.05);
    border: 1px solid #b7b7b7;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    font-family: 'open_sanssemibold', 'Open Sans Semibold', sans-serif;
    font-size: 0.875em;
    line-height: 1;
    color: #727070;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}

.form__btn:hover {
    background-image: -moz-linear-gradient(90deg, rgb(194, 192, 192) 0%, rgb(227, 225, 225) 87%, rgb(230, 228, 228) 90%, rgb(232, 231, 231) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(194, 192, 192) 0%, rgb(227, 225, 225) 87%, rgb(230, 228, 228) 90%, rgb(232, 231, 231) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(194, 192, 192) 0%, rgb(227, 225, 225) 87%, rgb(230, 228, 228) 90%, rgb(232, 231, 231) 100%);
    box-shadow: inset 0 -2px 3px 0 rgba(41, 41, 41, 0.05);
}

.form__btn.primary {
    background-image: -moz-linear-gradient(90deg, rgb(67, 183, 150) 0%, rgb(128, 232, 203) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(67, 183, 150) 0%, rgb(128, 232, 203) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(67, 183, 150) 0%, rgb(128, 232, 203) 100%);
    box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.16), inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
    border-color: #57d2b4;
    color: #1E7465;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}

.form__btn.primary:hover {
    background-image: -moz-linear-gradient(90deg, rgb(58, 160, 135) 0%, rgb(95, 220, 189) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(58, 160, 135) 0%, rgb(95, 220, 189) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(58, 160, 135) 0%, rgb(95, 220, 189) 100%);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
}

