/*Основные правила*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: 'open_sansregular', 'Open Sans Regular', sans-serif;
    font-size: 16px;
    color: #727070;
    /*line-height: 1.25;*/
}

.bg {
    position: relative;
    overflow: auto;
}

.bg:before {
    content: ' ';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../img/bg.jpg") no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.wrapper {
    position: relative;
    min-height: 100%;
    /*min-width: 320px;*/
    height: auto !important;
}

.wrapper:after {
    display: block;
    content: ' ';
    height: 61px;
}

.container {
    /*position: relative;*/
    /*width: 960px;*/
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
}

.container.big {
    /*width: 1200px;*/
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

p {
    margin: 0;
}

/*Оформление*/

/*Header*/
.header {
    position: relative;
    background: url('../img/header-bg.jpg') repeat;
    height: 97px;
    border-bottom: 7px solid #ffffff;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    z-index: 3;
}

.affix {
    position: fixed;
    top: 0;
}

.header.affix {
    width: 100%;
}

.header .logo,
.header .socials {
    position: absolute;
}

.header .logo {
    top: 10px;
    left: 40px;
}

.logo__link {
    display: block;
    width: 95px;
    height: 71px;
}

.logo__img {
    display: block;
    max-width: 100%;
    height: auto;
}

.header .socials {
    display: none;
    top: 23px;
    /*right: -3px;*/
    right: 40px;
}

.socials__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.socials__item {
    display: inline-block;
    padding: 0;
    margin-left: 5px;
}

.socials__item:first-child {
    margin-left: 0;
}

.socials__link {
    text-indent: -999em;
}

/*Main*/
.main {
    margin: 35px 0 0;
}

/*Sidebar*/
.sidebar {
    /*display: none;*/
    /*width: 250px;*/
    /*float: left;*/
}

.sidebar__block {
    margin-bottom: 34px;
}

.sidebar__menu {
    display: none;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu__item {
    padding: 0;
}

.menu__link {
    display: inline-block;
    width: 100%;
    padding: 16px 28px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #fbf9f9 6%, #e9e6e5 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #fbf9f9 6%, #e9e6e5 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #fbf9f9 6%, #e9e6e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e9e6e5', GradientType=0);
    box-shadow: inset 0 -2px 3px 0 rgba(41, 41, 41, 0.05);
    border: 1px solid #c5c5c5;

    font-size: 1.25em;
    font-family: 'open_sanssemibold', 'Open Sans Semibold', sans-serif;
    color: #727070;
    line-height: 1.1;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    text-decoration: none;
    word-wrap: break-word;
}

.menu__item:first-child > .menu__link {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.menu__item:last-child > .menu__link {
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.07)
}

/*.menu__item:not(:first-child) > .menu__link {*/
/*border-top: none;*/
/*}*/

.menu__link:hover,
.menu__item.hover > .menu__link {
    background: #e8e7e7;
    background: -moz-linear-gradient(top, #e8e7e7 0%, #e6e4e4 10%, #e3e1e1 13%, #c2c0c0 100%);
    background: -webkit-linear-gradient(top, #e8e7e7 0%, #e6e4e4 10%, #e3e1e1 13%, #c2c0c0 100%);
    background: linear-gradient(to bottom, #e8e7e7 0%, #e6e4e4 10%, #e3e1e1 13%, #c2c0c0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e7e7', endColorstr='#c2c0c0', GradientType=0);
    box-shadow: inset 0 -2px 3px 0 rgba(41, 41, 41, 0.05);
    border-color: #b8b8b8;
}

.menu__item.active > .menu__link {
    background: #7ee8ce;
    background: -moz-linear-gradient(top, #7ee8ce 0%, #3eb799 100%);
    background: -webkit-linear-gradient(top, #7ee8ce 0%, #3eb799 100%);
    background: linear-gradient(to bottom, #7ee8ce 0%, #3eb799 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ee8ce', endColorstr='#3eb799', GradientType=0);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
    border-color: #30a286;

    color: rgb(30, 116, 101);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.35);
}

.contacts {

}

.contacts__header {
    display: none;
    padding: 10px 27px;
    background: #f4cc7e;
    background: -moz-linear-gradient(top, #f4cc7e 10%, #dcb15d 100%);
    background: -webkit-linear-gradient(top, #f4cc7e 10%, #dcb15d 100%);
    background: linear-gradient(to bottom, #f4cc7e 10%, #dcb15d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4cc7e', endColorstr='#dcb15d', GradientType=0);
    box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.17), inset 0 1px 0 0 rgba(255, 255, 255, 0.25);
    border: 1px solid #e7bf6f;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.contacts__title {
    margin: 0;
    font-family: 'open_sanssemibold', 'Open Sans Semibold', sans-serif;
    font-size: 1.25em;
    color: #D0982C;
    line-height: 1.1;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
    word-wrap: break-word;
}

.contacts__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.contacts__link {
    position: relative;
    display: block;
    width: 100%;
    min-height: 37px;
    padding: 11px 20px;
    border: 1px solid #D6D5D3;
    border-bottom-width: 0;
    background: #FFFFFF;
    background-image: -moz-linear-gradient(top, rgba(251, 249, 249, 0) 0%, rgba(233, 231, 231, 0.45) 100%);
    background-image: -webkit-linear-gradient(top, rgba(251, 249, 249, 0) 0%, rgba(233, 231, 231, 0.45) 100%);
    background-image: linear-gradient(to bottom, rgba(251, 249, 249, 0) 0%, rgba(233, 231, 231, 0.45) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00fbf9f9', endColorstr='#73e9e7e7', GradientType=0);
    box-shadow: inset 0 2px 2px 0 rgba(114, 112, 112, 0.1);

    font-size: 0.875em;
    color: #727070;
    line-height: 1;
    text-decoration: none;
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
    /*overflow: hidden;*/
    word-wrap: break-word;
}

.contacts__item:hover > .contacts__link {
    background: #FFFFFF;
    background-image: -moz-linear-gradient(top, rgba(251, 249, 249, 0) 0%, rgba(224, 197, 145, 0.45) 100%);
    background-image: -webkit-linear-gradient(top, rgba(251, 249, 249, 0) 0%, rgba(224, 197, 145, 0.45) 100%);
    background-image: linear-gradient(to bottom, rgba(251, 249, 249, 0) 0%, rgba(224, 197, 145, 0.45) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00fbf9f9', endColorstr='#73e0c591', GradientType=0);
    box-shadow: inset 0 2px 2px 0 rgba(114, 112, 112, 0.1);

    text-decoration: underline;
}

.contacts__item:last-child > .contacts__link {
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.35);
    /*-webkit-border-radius: 0 0 5px 5px;*/
    /*-moz-border-radius: 0 0 5px 5px;*/
    /*border-radius: 0 0 5px 5px;*/
    border-bottom-width: 1px;
}

.contacts__icon {
    position: absolute;
    float: left;
    width: 29px;
    top: 50%;
    /*margin-top: -0.57em;*/
    transform: translateY(-50%);
}

.contacts__desc {
    position: relative;
    display: block;
    margin-left: 76px;
}

.contacts__desc:before {
    position: absolute;
    content: ' ';
    display: block;
    /*float: left;*/
    background: url('../img/spritesheet.png') no-repeat -155px -5px; /*.ico-contact-arrow*/
    width: 10px;
    height: 38px;
    left: 0;
    top: 50%;
    margin-left: -48px;
    /*margin-top: -10px;*/
    transform: translateY(-50%);
}

/*Content*/
.content {
    /*margin-left: 59px;*/
}

.section {
    margin-bottom: 36px;
    background: #fbfbfa;
    background: -moz-linear-gradient(top, #fbfbfa 0%, #f0eeed 100%);
    background: -webkit-linear-gradient(top, #fbfbfa 0%, #f0eeed 100%);
    background: linear-gradient(to bottom, #fbfbfa 0%, #f0eeed 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfa', endColorstr='#f0eeed', GradientType=0);
    /*box-shadow: 0 5px 10px 0 rgba(236, 232, 227, 0.75),inset 0 6px 6px 0 rgba(255, 255, 255, 0.004);*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.section__header {
    /*padding: 13px 43px 20px;*/
    padding: 13px 20px;
    background: #a9a8a8;
    background: -moz-linear-gradient(top, #a9a8a8 0%, #7b7878 100%);
    background: -webkit-linear-gradient(top, #a9a8a8 0%, #7b7878 100%);
    background: linear-gradient(to bottom, #a9a8a8 0%, #7b7878 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9a8a8', endColorstr='#7b7878', GradientType=0);
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.3);
    border: 1px solid #9c9c9c;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.section__title {
    margin: 0;
    font-size: 1.5em;
    color: #EEEDEC;
    line-height: 0.917;
    text-shadow: 0 1px 0 #666565;
    word-wrap: break-word;
}

.section__body {
    /*padding: 34px 42px 22px; /!* щикотливое место *!/*/
    padding: 20px;
    border: 1px solid #d1d1d1;
    border-top: 0;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;

    color: #727070;
    word-wrap: break-word;
}

/*Основная информация*/
.info {
    position: relative;
}

.info__photo,
.info__body {
    /*float: left;*/
}

.info__photo {
    /*min-width: 187px;*/
}

.info__photo-border {
    display: table;
    padding: 9px;
    /*margin-top: 2px;*/
    margin: 0 auto;
    border: 1px solid #cdcbca;
    border-radius: 50% 50%;
}

.info__photo-wrapper {
    overflow: hidden;
    width: 133px;
    height: 133px;
    border-radius: 50% 50%;
}

.info__photo-img {
    display: block;
    max-width: 100%;
    height: auto;
}

.info__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.info__list-item {
    padding: 0;
    margin-bottom: 9px;

    font-size: 0.875em;
    line-height: 1.2;
}

.info__list-item.prelast {
    margin-bottom: 19px;
}

.info__list-question,
.info__list-response {
    display: block;
    float: left;
}

.info__list-question {
    font-family: 'open_sanssemibold', 'Open Sans Semibold', sans-serif;
}

.info__list-response {
    margin-left: 8px;
    /*max-width: 228px;*/
}

.skills {
    padding: 0;
    /*margin: -3px 0 0 5px;*/
    list-style: none;
}

.skills_item {
    display: inline-block;
    padding: 0 5px;
    margin-right: 10px;
}

.skills_label {
    position: relative;
    display: block;
    margin-bottom: 2px;

    font-size: 0.5625em;
    font-family: 'open_sanssemibold', 'Open Sans Semibold', sans-serif;
    color: #1E7465;
    line-height: 1.68666666;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
    text-transform: uppercase;
    word-wrap: break-word;
}

.skills_label:before {
    position: absolute;
    content: ' ';
    display: block;
    background: url("../img/skill-label.png") no-repeat right top;
    width: 8px;
    height: 25px;
    top: 0;
    right: -8px;
}

.skills_label-wrapper {
    position: relative;
    display: block;
    height: 25px;
    padding: 7px 5px;
    background: url("../img/skill-label-repeat.png") repeat-x;
}

.skills_label-wrapper:before {
    position: absolute;
    display: block;
    content: ' ';
    background: url("../img/skill-label.png") no-repeat;
    width: 12px;
    height: 25px;
    top: 0;
    left: -12px;
}

/*Опыт работы*/

.section__list {
    margin: -13px 0 -23px;
    padding: 0;
    list-style: none;
}

.section__list-item {
    position: relative;
    padding: 24px 0 33px;
    /*margin-left: 97px;*/
}

/*.section__list-item:before {*/
/*position: absolute;*/
/*top: 50%;*/
/*content: ' ';*/
/*display: block;*/
/*background: url('../img/spritesheet.png') no-repeat -5px -5px;*/
/*width: 54px;*/
/*height: 55px;*/
/*transform: translateY(-50%);*/
/*margin-left: -97px;*/
/*}*/

.section__list-item:after {
    position: absolute;
    display: block;
    content: ' ';
    width: 100%;
    height: 2px;
    bottom: 0;
    /*margin-left: -97px;*/
    background-color: #F6F5F4;
    box-shadow: inset 0 1px 1px 0 rgba(128, 128, 128, 0.29), 0 0 3px 1px rgba(255, 255, 255, 0.75);
    border-radius: 1px;
}

/*.section__list-item:first-child {*/
/*margin-top: -18px;*/
/*}*/

/*.section__list-item:last-child {*/
/*margin-bottom: -20px;*/
/*}*/

.section__list-item:last-child:after {
    display: none;
}

.section__list-item-icon {
    position: relative;
    /*width: 96px;*/
}

.section__list-item-icon .icon {
    /*position: absolute;*/
    /*margin-top: -0.4em;*/
    /*top: 50%;*/
    margin: 0 auto;
}

.section__list-item-desc {
    /*margin-left: 96px;*/

    font-family: 'open_sanssemibold', 'Open Sans Semibold', sans-serif;
    font-size: 0.875em;
    line-height: 1.35714285;
    text-align: center;
}

.section__list-item-desc .small {
    display: block;

    font-family: 'open_sansregular', 'Open Sans Regular', sans-serif;
}

/*Footer*/
.footer {
    position: relative;
    padding: 19px 0 23px;
    margin-top: -61px;
    min-height: 61px;
    background-color: #FFFFFF;
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.06) 0%, rgba(0, 0, 0, 0.06) 100%);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.06) 0%, rgba(0, 0, 0, 0.06) 100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.06) 0%, rgba(0, 0, 0, 0.06) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0fffffff', endColorstr='#0f000000', GradientType=0);
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.footer > .container {
    /*padding: 0 168px;*/
}

.login,
.copyright {
    /*float: left;*/
}

.login {
    /*margin-right: 59px;*/
    float: left;
    font-family: 'open_sansbold', 'Open Sans Bold', sans-serif;
}

.login__link {
    color: #9c9c9c;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.85);
    line-height: 1.2;
    text-decoration: none;
}

.login__link > .ico-locked {
    float: left;
    width: 26px;
}

.login__link:hover > .ico-locked {
    width: 26px;
    height: 22px;
    background-position: -57px -189px;
}

.copyright {
    /*max-width: 830px;*/
    float: right;

    font-family: 'open_sanslight', 'Open Sans Light Regular', sans-serif;
    /*font-size: 0.75em;*/
    font-size: 0.5em;
    line-height: 1.83333333;
    text-align: right;
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;*/
    /*overflow: hidden;*/
    word-wrap: break-word;
}

/*мобильное меню*/
.showMenu {
    position: absolute;
    display: block;
    top: 74px;
    right: 16px;
    z-index: 3;
}

.showMenu:before {
    display: block;
    position: absolute;
    content: ' ';
    top: -11px;
    right: 24px;
    border: 12px solid transparent;
    border-top: 12px solid #FFFFFF;
    border-right: 12px solid #FFFFFF;
    transform: rotate(-45deg);
    z-index: 0;
}

.mobile-menu {
    position: absolute;
    top: 30px;
    right: 40px;
    width: 25px;
    height: 21px;
    cursor: pointer;
    z-index: 5;
}

.mobile-menu__line {
    display: block;
    width: 100%;
    height: 5px;
    margin-top: 3px;
    background-color: #FFFFFF;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.mobile-menu__line:first-child {
    margin-top: 0;
}

.menuOverlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.6;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
    filter: alpha(opacity=60);
    z-index: 2;
    cursor: pointer;
    background-color: #000000;
}


/*Адаптив*/
/*планшеты*/
@media screen and (min-width: 768px) {
    .container {
        padding-left: 60px;
        padding-right: 60px;
    }

    .container.big {
        padding-left: 40px;
        padding-right: 40px;
    }

    .header .socials {
        display: block;
        right: 93px;
    }

    .contacts__list {
        font-size: 0;
    }

    .contacts__item {
        display: inline-block;
        width: 33.33333333%;
        font-size: 16px;
    }

    .section__header {
        padding: 13px 43px 20px;
    }

    .section__body {
        padding: 34px 42px 22px; /* щикотливое место */
    }

    .info__photo,
    .info__body {
        float: left;
    }

    .info__photo {
        min-width: 187px;
    }

    .info__photo-border {
        margin: 2px 0 0 0;
    }

    .info__list-response {
        max-width: 228px;
    }

    .skills {
        margin: -2px 0 0 5px;
    }

    .section__list-item-icon {
        width: 96px;
    }

    .section__list-item-icon .icon {
        position: absolute;
        margin-top: -0.4em;
        top: 50%;
    }

    .section__list-item-desc {
        margin-left: 96px;

        text-align: left;
    }

    .copyright {
        font-size: 10px;
    }
}

/*пк*/
@media screen and (min-width: 1200px) {
    .wrapper {
        min-width: 1210px;
    }

    .container {
        width: 960px;
        padding-left: 0;
        padding-right: 0;
    }

    .container.big {
        position: relative;
        width: 1200px;
    }

    .header .logo {
        left: 10px;
    }

    .header .socials {
        right: -3px;
    }

    .mobile-menu {
        display: none;
    }

    .sidebar {
        float: left;
        width: 250px;
    }

    .sidebar__menu {
        display: block;
    }

    .contacts__header {
        display: block;
    }

    .contacts__item {
        display: list-item;
        width: auto;
        font-size: 16px;
    }

    .contacts__item:last-child > .contacts__link {
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        border-radius: 0 0 5px 5px;
    }

    .content {
        width: 651px;
        float: right;
        margin-left: 59px;
    }

    .info__list-response {
        max-width: 228px;
    }

    .footer {
        min-width: 1210px;
    }

    .footer > .container {
        padding: 0 168px;
    }

    .copyright {
        margin-left: 62px;
        max-width: 830px;
        float: left;

        font-size: 12px;
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}