.icon {
    background: url('../img/spritesheet.png') no-repeat;
    display: block;
}

.ico-auth-arrow {
    width: 11px;
    height: 40px;
    background-position: -5px -5px;
}

.ico-auth-email {
    width: 23px;
    height: 17px;
    background-position: -26px -5px;
}

.ico-auth-key {
    width: 22px;
    height: 20px;
    background-position: -59px -5px;
}

.ico-case {
    width: 54px;
    height: 55px;
    background-position: -91px -5px;
}

.ico-cloud {
    width: 25px;
    height: 18px;
    background-position: -155px -5px;
}

.ico-contact-arrow {
    width: 10px;
    height: 38px;
    background-position: -190px -5px;
}

.ico-diploma {
    width: 54px;
    height: 55px;
    background-position: -26px -53px;
}

.ico-email {
    width: 17px;
    height: 13px;
    background-position: -210px -5px;
}

.ico-facebook {
    width: 42px;
    height: 44px;
    background-position: -155px -53px;
}

.ico-facebook:hover {
    width: 42px;
    height: 44px;
    background-position: -90px -107px;
}

.ico-github {
    width: 42px;
    height: 44px;
    background-position: -142px -107px;
}

.ico-github:hover {
    width: 42px;
    height: 44px;
    background-position: -5px -161px;
}

.ico-graguete {
    width: 54px;
    height: 55px;
    background-position: -57px -161px;
}

.ico-locked {
    width: 19px;
    height: 22px;
    background-position: -210px -28px;
}

.ico-phone {
    width: 17px;
    height: 22px;
    background-position: -207px -60px;
}

.ico-pic {
    width: 54px;
    height: 55px;
    background-position: -121px -161px;
}

.ico-pic:hover {
    width: 54px;
    height: 55px;
    background-position: -239px -5px;
}

.ico-school {
    width: 54px;
    height: 55px;
    background-position: -234px -70px;
}

.ico-skype {
    width: 20px;
    height: 20px;
    background-position: -90px -70px;
}

.ico-tooltip-arrow {
    width: 7px;
    height: 12px;
    background-position: -5px -70px;
}

.ico-twitter {
    width: 42px;
    height: 44px;
    background-position: -194px -135px;
}

.ico-twitter:hover {
    width: 42px;
    height: 44px;
    background-position: -246px -135px;
}

.ico-unlocked {
    width: 24px;
    height: 22px;
    background-position: -120px -70px;
}

.ico-vk {
    width: 42px;
    height: 44px;
    background-position: -185px -189px;
}

.ico-vk:hover {
    width: 42px;
    height: 44px;
    background-position: -237px -189px;
}
