.section__body {
    padding-top: 38px; /*для перфектпикселя подгоняем верхний паддинг*/
}

.works {
    /*margin-right: -32px;*/
}

.works__list {
    margin: 0;
    padding: 0;
    list-style: none;

    font-size: 0;
    text-align: center;
}

.works__item {
    display: block;
    padding: 0;
    margin-bottom: 34px;

    vertical-align: top;
    font-size: 16px;
}

.works__item:not(:last-child) {
    /*margin-right: 32px;*/
}

.work {
    position: relative;
    display: block;
    width: 167px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.07);
    border: 1px solid #bababa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    color: #727070;
    text-decoration: none;
}

.work:hover .work__hover {
    background-color: rgba(111, 109, 109, 0);
}

.work__preview,
.work__img,
.work__hover {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.work__preview {
    position: relative;
    height: 120px;
    border-bottom: 1px solid #bababa;
}

.work__img {
    display: block;
    max-width: 100%;
    height: auto;
}

.work__hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(111, 109, 109, 0.41);
}

.work__header {
    background-color: #f2f2f2;
    padding: 10px;

    text-align: center;
}

.work__title {
    margin: 0;

    font-family: 'open_sanssemibold', 'Open Sans Semibold', sans-serif;
    font-size: 0.834375em;
    line-height: 1;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}

.work__desc {
    padding: 6px;

    font-size: 0.75em;
    line-height: 1.33333333;
    text-align: center;
}

/*Добавить работу*/
.work.add {
    padding: 25px 20px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #fbf9f9 6%, #edebea 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #fbf9f9 6%, #edebea 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #fbf9f9 6%, #edebea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#edebea', GradientType=0);
    box-shadow: 0 2px 1px 0 rgba(9, 9, 9, 0.07), inset 0 -2px 3px 0 rgba(41, 41, 41, 0.05);

    text-align: center;
    line-height: 1;
}

.work.add:hover {
    background: #e8e7e7;
    background: -moz-linear-gradient(top, #e8e7e7 0%, #e6e4e4 10%, #e3e1e1 13%, #c2c0c0 100%);
    background: -webkit-linear-gradient(top, #e8e7e7 0%, #e6e4e4 10%, #e3e1e1 13%, #c2c0c0 100%);
    background: linear-gradient(to bottom, #e8e7e7 0%, #e6e4e4 10%, #e3e1e1 13%, #c2c0c0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e7e7', endColorstr='#c2c0c0', GradientType=0);
    box-shadow: inset 0 -2px 3px 0 rgba(41, 41, 41, 0.05);
}

.work.add:hover .icon {
    background-position: -239px -5px;
}

.work__add-img {
    margin-bottom: 12px;
}

.work__add-img > .icon {
    display: inline-block;
}

.work__add-title {
    margin: 0;

    font-family: 'open_sanssemibold', 'Open Sans Semibold', sans-serif;
    font-size: 0.875em;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}

/*Адаптив*/
/*планшеты*/
@media (min-width: 768px) {
    .works {
        margin-right: -75px;
    }

    .works__item {
        display: inline-block;
        margin-right: 75px;
    }

    .work {
        margin-left: 0;
        margin-right: 0;
    }
}

/*пк*/
@media (min-width: 1200px) {
    .works {
        margin-right: -32px;
    }

    .works__list {
        text-align: left;
    }

    .works__item {
        display: inline-block;
        margin-right: 32px;
    }
}